# ===== DATABASE =====
# PostgreSQL connection string (Vercel)
DATABASE_URL="postgresql://user:***@host:5432/smkdh_cms"

# ===== JWT AUTH =====
JWT_SECRET="ganti-dengan-random-string-min-32-char"

# ===== R2 (Cloudflare) =====
R2_ENDPOINT="https://b6cd21e5b0f983939dc63abc8a90dbcc.r2.cloudflarestorage.com"
R2_ACCESS_KEY="f654312b8a037a2315c375ca646e1fce"
R2_SECRET_KEY="c9c96fd2232675d5500856b5eec9c95fb30cb6f31b62fb6f82b6fa52d2558ee4"
R2_BUCKET="smknu-darulhikam-assets"
R2_PUBLIC_URL="https://pub-b6cd21e5b0f983939dc63abc8a90dbcc.r2.dev"
