# ===== DATABASE =====
DATABASE_URL="postgresql://user:***@host:5432/dbname"

# ===== JWT AUTH =====
JWT_SECRET="your-secret-at-least-32-chars"

# ===== R2 Cloudflare =====
R2_ENDPOINT="https://<account-id>.r2.cloudflarestorage.com"
R2_ACCESS_KEY="your-access-key"
R2_SECRET_KEY="your-secret-key"
R2_BUCKET="your-bucket-name"
